***Шаг 1. Настройка окружения и Импорты***

In [1]:
import os
import traceback
import pandas as pd
from utils.design import *
from utils.music import BackgroundMusic

from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

from config import settings

from core.models import Base, BomReport
from core.repositories.raw_repository import RawDataRepository
from core.services.material_service import MaterialETLService

music = BackgroundMusic(settings.MUSIC_PATH)
music.play()

Message.print_message(f"Импорты успешно выполнены!", Color.GREEN, Color.LIGHT_WHITE)

C:\Users\user\DataGripProjects\pandas_factory_task\.venv\Lib\site-packages\pygame\pkgdata.py:25: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  from pkg_resources import resource_stream, resource_exists

pygame 2.6.1 (SDL 2.28.4, Python 3.13.5)
Hello from the pygame community. https://www.pygame.org/contribute.html

+----------------------------+
| Импорты успешно выполнены! |
+----------------------------+

***Шаг 2. Инициализация Базы Данных***

*Подключение к БД и создание таблиц.
Создание engine (движок подключения) и сессию.
Команда Base.metadata.create_all(engine) проверит наличие таблиц в базе данных Postgres. Если их нет - создаст. Если есть - оставит как есть.*

In [2]:
Message.print_message(
    f"Подключение к БД: {settings.DB_URL}", Color.PURPLE, Color.LIGHT_WHITE
)

engine = create_engine(settings.DB_URL, echo=False)

Base.metadata.create_all(engine)

SessionLocal = sessionmaker(bind=engine)
session = SessionLocal()

Message.print_message(
    "База данных инициализирована. Сессия открыта.", Color.BLUE, Color.LIGHT_WHITE
)

+---------------------------------------------------------------------+
| Подключение к БД: postgresql+psycopg://root:root@localhost:5435/app |
+---------------------------------------------------------------------+

+-----------------------------------------------+
| База данных инициализирована. Сессия открыта. |
+-----------------------------------------------+

***Шаг 3. Внедрение зависимостей***

*Сборка сервисов (Dependency Injection)
Использование принципов SOLID:
Создание Repository (RawDataRepository), который умеет только общаться с базой (INSERT, TRUNCATE, SELECT).
Передаем репозиторий внутрь Service (MaterialETLService). Сервис содержит бизнес-логику: как читать CSV, как чистить данные, как запускать расчеты.*

In [3]:
repository = RawDataRepository(session)

etl_service = MaterialETLService(repository)

Message.print_message("Сервисы готовы к работе.", Color.BLUE, Color.LIGHT_WHITE)

+--------------------------+
| Сервисы готовы к работе. |
+--------------------------+

***Шаг 4. ETL Процесс***


На этом этапе происходят преобразования ETL (Extract, Transform, Load)
Extract: Чтение factory_data.csv.

Transform: Переименование колонок (приведение к snake_case с _id).
Очистка типов данных (удаление запятых в числах, обработка NaN).
Дедупликация (агрегация данных по годам).

Load: Массовая вставка очищенных данных в таблицу raw_factory_data.

In [4]:
try:
    if os.path.exists(settings.INPUT_CSV_PATH):
        Message.print_message(
            "Начинаем процесс импорта...", Color.BLUE, Color.LIGHT_WHITE
        )

        rows_inserted = etl_service.run_import_pipeline()

        """
            Extract
            df = self._read_csv(file_path)

            Transform
            df = self._transform_columns(df)
            df = self._clean_data_types(df)
            df = self._deduplicate_by_year(df)

          
            Load
            self.repository.truncate_table()
            self.repository.bulk_insert(records)
        """

        Message.print_message(
            f"Успешно загружено строк в сырую таблицу: {rows_inserted}",
            Color.GREEN,
            Color.LIGHT_WHITE,
        )
    else:
        Message.print_message(
            f"Ошибка: Файл {settings.INPUT_CSV_PATH} не найден.",
            Color.RED,
            Color.LIGHT_WHITE,
        )
except Exception as e:
    Message.print_message(f"Ошибка ETL: {e}", Color.RED, Color.LIGHT_WHITE)
    traceback.print_exc()

2026-01-19 00:58:44.084 | INFO     | core.services.material_service:run_import_pipeline:113 - Starting ETL pipeline...
2026-01-19 00:58:44.093 | INFO     | core.services.material_service:run_import_pipeline:116 - Step 1: Extract
2026-01-19 00:58:44.096 | DEBUG    | core.services.material_service:_read_csv:34 - Reading CSV file: C:\Users\user\DataGripProjects\pandas_factory_task\resources\csv\raw\factory_data.csv
2026-01-19 00:58:44.177 | INFO     | core.services.material_service:run_import_pipeline:119 - Step 2: Transform
2026-01-19 00:58:44.188 | DEBUG    | core.services.material_service:_clean_data_types:58 - Cleaning data types...
2026-01-19 00:58:44.241 | INFO     | core.services.material_service:_deduplicate_by_year:104 - Duplicates removed (year aggregation): 1210
2026-01-19 00:58:44.250 | INFO     | core.services.material_service:run_import_pipeline:132 - Step 3: Load (110 rows)
2026-01-19 00:58:44.251 | DEBUG    | core.repositories.raw_repository:truncate_table:29 - Truncating table raw_factory_data...

+-----------------------------+
| Начинаем процесс импорта... |
+-----------------------------+

2026-01-19 00:58:44.354 | DEBUG    | core.repositories.raw_repository:bulk_insert:49 - Inserting batch of 110 records...
2026-01-19 00:58:44.562 | SUCCESS  | core.services.material_service:run_import_pipeline:136 - ETL finished successfully. Rows loaded: 110

+----------------------------------------------+
| Успешно загружено строк в сырую таблицу: 110 |
+----------------------------------------------+

***Шаг 5. Формирование итоговой таблицы***

*Теперь, когда "сырые" данные в базе, запускается сложный SQL-скрипт (Recursive Common Table Expression).
Скрипт строит дерево производства: от готового изделия (FIN) до самого нижнего компонента (RM или ADD), проходя через все уровни вложенности.*

In [5]:
try:

    Message.print_message("Запуск SQL процедуры...", Color.PURPLE, Color.LIGHT_WHITE)

    raw_report_data = etl_service.generate_bom_report()

    Message.print_message(
        f"Расчет завершен. Получено строк отчета: {len(raw_report_data)}",
        Color.BLUE,
        Color.LIGHT_WHITE,
    )

except Exception as e:
    Message.print_message(f"Ошибка при расчете: {e}", Color.RED, Color.LIGHT_WHITE)
    traceback.print_exc()

2026-01-19 00:59:45.105 | INFO     | core.services.material_service:generate_bom_report:152 - Executing SQL script: bom_explosion.sql
2026-01-19 00:59:45.107 | DEBUG    | core.repositories.raw_repository:execute_raw_sql:58 - Executing raw SQL query...

+-------------------------+
| Запуск SQL процедуры... |
+-------------------------+

+---------------------------------------------+
| Расчет завершен. Получено строк отчета: 110 |
+---------------------------------------------+

***Шаг 6. Проверка результатов***


*Выводится итоговая таблица. В итоге преобразует результат в Pandas DataFrame для удобного просмотра прямо в ноутбуке.*

In [7]:
if raw_report_data:

    data_dicts = []
    for row in raw_report_data:

        report_item = BomReport(
            plant=row.plant,
            year=row.year,
            fin_material_id=row.fin_material_id,
            prod_material_id=row.prod_material_id,
            component_id=row.component_id,
            component_material_release_type=row.component_material_release_type,
        )

        data_dicts.append(
            {
                "Plant": report_item.plant,
                "Year": report_item.year,
                "FIN ID": report_item.fin_material_id,
                "Prod ID": report_item.prod_material_id,
                "Comp ID": report_item.component_id,
                "Comp Type": report_item.component_material_release_type or "-",
            }
        )

    df_result = pd.DataFrame(data_dicts)

    display(df_result.head(15))

    Message.print_message(
        "Всё успешно прошло... Можно идти спать...", Color.GREEN, Color.LIGHT_WHITE
    )
else:
    Message.print_message(
        "Отчет пуст. Проверьте входные данные.", Color.YELLOW, Color.LIGHT_WHITE
    )

session.close()

     Plant  Year FIN ID Prod ID Comp ID Comp Type
0   RLT_10  2024  10000   10000   50000      PROD
1   RLT_10  2024  10000   50000   90001       ADD
2   RLT_10  2024  10000   50000   90000       ADD
3   RLT_10  2024  10000   50000   80070      PROD
4   RLT_10  2024  10000   80070   90003       ADD
5   RLT_10  2024  10000   80070   80010      PROD
6   RLT_10  2024  10000   80070   90002       ADD
7   RLT_10  2024  10000   80010   90004       ADD
8   RLT_10  2024  10000   80010   80000      PROD
9   RLT_10  2024  10000   80000   70000        RM
10  RLT_10  2024  10000   80000   90005       ADD
11  RLT_10  2024  10001   10001   50001      PROD
12  RLT_10  2024  10001   50001   80071      PROD
13  RLT_10  2024  10001   50001   90005       ADD
14  RLT_10  2024  10001   50001   90006       ADD

+-------------------------------------------+
| Всё успешно прошло... Можно идти спать... |
+-------------------------------------------+

In [8]:
Developer.print_info_of_developer()

+--------------------------------------------------------------+
| Задание было выполнено стажером Big Data в компании Innowise |
+--------------------------------------------------------------+

+--------------------------------------------------+
| Big Data Engineer: Панфиленко Станислав Игоревич |
+--------------------------------------------------+

+----------------------------------------------------------+
| Личная электронная почта: stanislav.panfilenko@gmail.com |
+----------------------------------------------------------+